@import "./index-card";
@import "./nav-header";
@import "./resource-table";

html {
    background: black;
}

ul {
    list-style: none;
}

.background-box {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}