<table>
    {{#each @model as |item|}}
        <tbody>
            <td>
                <img class="item-thumbnail-image" src={{if item.imagePath item.imagePath this.defaultImagePath}}>
            </td>

            <td>
                <h5 class="item-header">
                    <b>{{this.getResourceDisplayName item}}</b>
                </h5>

                <ul>
                   <ResourceDetails
                        @item={{item}}
                        @currentRouteName={{this.router.currentRouteName}}
                   />
                </ul>
            </td>
            
        </tbody>

        <hr>
    {{/each}}
</table>