<table class="resource-table">
    {{#each @model as |item|}}
        <tbody>
            <td>
                <img class="item-thumbnail-image" src={{if item.imagePath item.imagePath this.defaultImagePath}}>
            </td>

            <td>
                <h5 class="item-header">
                    <b>{{format item.constructor.modelName}}</b>
                </h5>

                <ul>
                    {{item.make}}
                </ul>
            </td>
        </tbody>
    {{/each}}
</table>