<table class="resource-table">
    {{#each @model as |item|}}
        <tbody>
            <td>
                <img class="item-thumbnail-image" src={{if item.imagePath item.imagePath this.defaultImagePath}}>
            </td>

            <td>
                <h5 class="item-header">
                    <b>{{format item.constructor.modelName}}</b>
                </h5>

                <ul>
                    {{#let (get-table-details item.constructor.modelName) as |ContextSpecificComponent|}}
                        {{log item.attributes}}
                        <ContextSpecificComponent
                            @item={{item}}
                        />
                    {{/let}}
                </ul>
            </td>
        </tbody>
    {{/each}}
</table>