{{page-title "Too Many Bikes"}}

<div class="card-container">
    <Card
        @imagePath="/assets/hammer-line.svg"
        @imageAltText="A stock image of a hammer"
        @route="workbench"
        @linkText="Access the workbench"
    />

    <Card
        @imagePath="/assets/book-open-line.svg"
        @imageAltText="A stock image of an open book"
        @route="guides"
        @linkText="Access the guides"
    />

    <Card
        @imagePath="/assets/bike-line.svg"
        @imageAltText="A stock image of a bike"
        @route="bikes"
        @linkText="Access the bikes list"
    />

    <Card
        @imagePath="/assets/puzzle-line.svg"
        @imageAltText="A stock image of a puzzle piece"
        @route="parts"
        @linkText="Access the parts list"
    />
</div>