<div class="background-box"></div>

<div class="cards-container">
    <IndexCard
        @imagePath="/assets/images/hammer-line.svg"
        @imageAltText="A stock image of a hammer"
        @route="workbench"
    />

    <IndexCard
        @imagePath="/assets/images/book-open-line.svg"
        @imageAltText="A stock image of an open book"
        @route="guides"
    />

    <IndexCard
        @imagePath="/assets/images/bike-line.svg"
        @imageAltText="A stock image of a bike"
        @route="bikes"
    />

    <IndexCard
        @imagePath="/assets/images/puzzle-line.svg"
        @imageAltText="A stock image of a puzzle piece"
        @route="parts"
    />
</div>